#map{ height: 100% }

#map {
    height: 90%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.title-beebox {
    font-size: 26px;
}

.nav-style{
    margin: 0px;
    color: #FFFFFF;
    background-color: #F1C544;
    padding: 10px 10px 10px 10px;
}

.navbar-header > a {
    color: #FFFFFF;
}

#location-inputs {
    padding-top: 10px;
}